.notesList {

    &-header {
        margin-bottom: 16px;
    }

    &-list li:not(:last-child) {
        margin-bottom: 16px;
    }

    &-searchSection {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;

        input {
            max-width: 276px;
        }
    }

}

.highlight {
    color: #1677ff;
}